{% load crispy_forms_filters %}
<button
  type="button"
  class="btn btn-sm btn-outline-info open-comment-form"
  data-post-id="{{ post.id }}"
>
  <i class="bi bi-chat mr-1"></i> Comment
</button>

<div
  id="comment-popup-{{ post.id }}"
  class="comment-popup-overlay d-none"
>
  <div class="comment-popup-box">
    <form
      hx-post="{% url 'blog-comment' post.id %}"
      hx-target="#comment-section-{{ post.id }}"
      hx-swap="outerHTML"
      class="comment-form"
    >
      {% csrf_token %}
      <div class="form-group">
        {{ comment_form|crispy }}
      </div>
      <div class="mt-2 d-flex justify-content-between">
        <button type="submit" class="btn btn-info rounded-pill btn-sm">Post Comment</button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm cancel-comment"
          data-post-id="{{ post.id }}"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
